body {
	margin: 0;
}
#page-1 {
	text-align: center;
}
#footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0; /*Eliminates white space between text elements displayed using inline-block*/
}
li {
	width: 60px;
	display: inline-block;
	cursor: pointer;
	margin: 2%;
}
li a {
	display: block;
}
li a.active img {
	background: #5E779B;
}
li a img {
	width: 100%;
	max-width: 60px;
	border: none;
	border-radius: 5px;
	background: #CCC;
}
@media (min-width: 800px) {
	li {
		margin: 16px;
	}
}
@media (max-width: 480px) {
	ul {
		border-top: 1px solid #EEE;
		background: #CCC;
	}
	li {
		width: 20%;
		padding: 0 2%;
		margin: 0;
	}
	li a img {
		border-radius: 0;
	}
	
	
}
