body {
	margin: 0;
}
#footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	width: 40px;
	height: 40px;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
	margin: 0;
}
li a {
	display: block;
}
li a img {
	border-radius: 0.2em;
	background: #ccc;
	width: 100%;
	border: none;
}